/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global font */
body {
  font-family: "Inter", sans-serif;
  background: #f8f9fc;
  color: #1e1e1e;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove link underline */
a {
  text-decoration: none;
  color: inherit;
}

/* Button reset */
button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* Scrollbar (optional) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #d63384;
  border-radius: 6px;
}
